*~
App/App.o
App/Enclave_u.c
App/Enclave_u.h
App/Enclave_u.o
App/sgx_utils/sgx_utils.o
Enclave/DataMovement/ArrMove.o
Enclave/Enclave.o
Enclave/Enclave_t.c
Enclave/Enclave_t.h
Enclave/Enclave_t.o
Enclave/MathOperators/Add.o
Enclave/MathOperators/Multiply.o
Enclave/Sealing/Sealing.o
README.md.backup
app
enclave.signed.so
enclave.so
enclave.token

